include LICENSE
include README.md
include CHANGELOG.md
include CLAUDE.md
recursive-include picarones/prompts *.txt
recursive-include picarones/web/static *.css
recursive-include picarones *.json *.yaml *.yml
recursive-include picarones/report/templates *.j2 *.html *.css *.js
recursive-include picarones/report/i18n *.json
